*{
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: url("background.jpg") no-repeat center;
  background-size: 150%;
}

#instructions {
  background-color: transparent;
  background-blend-mode: overlay;
  border-style: double;
  width: 600px;
  height: 250px;
  text-align: center;
}

#instructions h3 {
  text-decoration-line: underline;
}

#play-button:hover {
  background-color: black;
  color: white;
}

#summation-input {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#yes-button, #no-button {
  text-align: center;
  font-size: 16px;
  margin: 10px;
  border-radius: 1px;
}

#yes-button:hover {
  background-color: black;
  color: white;
}

#no-button:hover {
  background-color: black;
  color: white;
}

#next-game {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#updated-instructions{
  background-color: transparent;
  background-blend-mode: overlay;
  font-size: 20px;
}

#ngame-button {
text-align: center;
font-size: 16px;
margin: 10px;
border-radius: 4px;
}

#ngame-button:hover {
  background-color: black;
  color: white;
}

#game-state {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#progress-display {
  width: 100%;
  height: auto;
  background-color: transparent;
  display: flex;
  flex-wrap: nowrap;
}

#timer-display {
  width: 1%;
  height: 30px;
  font-size: 20px;
  text-align: end;
  background-color: white;
}

#replay-button {
  margin-top: 10px;
}

#replay-button:hover {
  background-color: black;
  color: white;
}

#game-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.cards {
  font-family: 'Lemonada';
  margin-top: 10px;
  margin-left: 10px;
  width: 120px;
  height: 100px;
  font-size: 80px;
  border: solid;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: chartreuse;
}

.cards:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.playerSel {
  background-color: orange;
}

.inactive {
  display: none;
}