*{
    box-sizing: border-box;
  }

  body {
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: url("background.jpg") no-repeat center;
    background-size: 120%;
  }

  #instructions {
    background-color: transparent;
    background-blend-mode: overlay;
    border-style: double;
  }

  #game-state {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #timer-display {
    background-clip: border-box;
  }

  #game-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .cards {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Lemonada';
    width: 120px;
    height: 100px;
    font-size: 80px;
    border: solid;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: chartreuse;
  }

  .inactive {
    display: none;
  }

  .playerSel {
    background-color: orange;
  }